body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 20px;

}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: beige;
    background-color: black ;
    font-weight: bold;
    width: 175;
    margin-bottom: 5px;
    border-radius: 100px;
}



.increment-btn:hover{
    cursor: pointer;
    background-color: beige;
    color: red;

}

.save-btn:hover{
    cursor: pointer;
    background-color: green;

}